header {
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.scores {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.scores-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-screen {
  border: 2px solid black;
  border-radius: 2px;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}

.score {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.add-score {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.add-score > * {
  margin: 10px;
}

#submit {
  align-self: flex-end;
}
